<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ profile.nickname }}</title>
</head>

<body>
<h1 align="center">{{ profile.nickname }}</h1>
<hr />
<p>&nbsp;</p>
<table width="88%" border="0">
  <tr>
    <td width="17%"><img src="{{ profile.logo.url }}" alt="{{ profile.nickname }}的头像" width="183" height="180" /></td>
    <td width="83%"><p>{{ profile.nickname }}于{{ user.date_joined.year }}年{{ user.date_joined.month }}月{{ user.date_joined.month }}日 注册。</p>
    <p>最后一次登陆是在 {{ user.last_login.year }}年{{ user.last_login.month }}月{{ user.last_login.month }}日。</p>
    </td>
  </tr>
</table>
</body>
</html>
