<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>上传文件</title>
</head>

<body>
<p>{{ user.username }}
刚刚上传了 如下文件：</p>
<p>{% for i in files %}
<ul>
  <li><a href="{{ i.get_url }}">{{ i.get_name }} </a>，是一个{{ i.mime }} 文件，共{{ i.get_size }}字节</li>
</ul>
{% endfor %}</p>
</body>
</html>
