<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ user.username }} 上传的文件</title>
</head>

<body>
<h1 align="center">{{ user.username }} 上传的文件</h1>
<p align="center"><a href="./?page=1&amp;page_size={{ pages. }}&amp;orders={{ orders|urlencode }}">|&lt;</a> {% for i in pages.page_range %} <a href="./?page={{ start_page }}&amp;page_size={{ page_size }}&amp;orders={{ orders|urlencode }}">{{ i }}</a> {% endfor %}<a href="./?page={{ pages.num_pages }}&amp;page_size={{ page_size }}&amp;orders={{ orders|urlencode }}">&gt;|</a></p>
<hr />
<p>{% for i in content %} </p>
<ul>
  <li>{{ i.birth}} 上传 <a href="{{ i.filename.url }}">{{ i.filename }} </a></li>
</ul>
<p>{% endfor %}</p>
<p>&nbsp;</p>
</body>
</html>
